<div class="card signatories-section">
  <div class="section-header">
    <h2>Signatários</h2>
    <button class="primary-button" (click)="onAddSignatory()">
      + Adicionar Signatário
    </button>
  </div>
  <div class="signatories-list">
    <app-signature-card
      *ngFor="let signatory of signatories(); index as i"
      [signatory]="signatory"
      [index]="i"
      (cardUpdate)="onUpdateSignatory($event)"
      (removeSignatory)="onRemoveSignatory(i)"
    >
    </app-signature-card>
  </div>
</div>
