<div class="app-container">
  <app-topbar
    [showUSD]="showUSD"
    (toggleCurrency)="toggleCurrency($event)"
  ></app-topbar>
  <div class="main-content">
    <app-frequency
      [documentsPerDay]="documentsPerDay"
      [workingDaysPerMonth]="workingDaysPerMonth"
      (updateFrequency)="updateFrequency($event)"
    >
    </app-frequency>
    <app-signatures
      [signatories]="signatories"
      (addSignatory)="addSignatory()"
      (updateSignatory)="updateSignatory($event)"
      (removeSignatory)="removeSignatory($event)"
    >
    </app-signatures>
    <app-costs
      [documentsPerDay]="documentsPerDay"
      [workingDaysPerMonth]="workingDaysPerMonth"
      [signatories]="signatories"
      [prices]="prices"
      [showUSD]="showUSD"
    >
    </app-costs>
  </div>
</div>
